body {
  font-family:sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 170%;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

.navBar {
  z-index: 100;
  height: 70px;
  margin: 0;
  padding: 0;
  background-color: rgb(11, 11, 11);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navLeft img {
  height: 23px;
  margin-left: 80px;
  margin-top: 10px;
}

.navCenter a {
  color: white;
  margin: 25px 25px;
  text-decoration: none;
}

.navRight button {
  margin-right: 80px;
  background-color: #17fbd0;
  height: 50px;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background-color: #89ffe9;

}

.workWithUsImg {
  object-fit: contain;
  width: 100%;

}

.imageContainer {
  position: relative;
  margin-top: 70px;
}

.imageTextTop {
  align-items: center;
  position: absolute; 
  top: 50px;
  left: 0;
}

.imageTextTop p {
  margin: 0;
  padding: 20px 70px 20px 70px;
  background-color:#17fbd0;
  color: black;
  font-size: 40px;
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px;
}

.imageText {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 50px;
  right: 0;
}

.imageText p {
  margin: 0;
  padding: 20px 100px 20px 100px;
  background-color:#17fbd0;
  color: black;
  font-size: 40px;
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
}

.imageButton {
  background-color: #17fbd0;
  height: 50px;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
}

.whoWeAreTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17fbd0;
  height: 80px;
  width: 300px; 
  border-radius: 40px;
  margin-left: 80px;
  margin-top: 20px;
}

h1 {
  font-weight: 100;
}

.whoWeAreMain {
  display: flex;
  justify-content: space-around;
  font-weight: 100;
  margin-bottom: 50px;
}

.whoWeAreTextLeft {
  margin-left: 80px;
  width: 600px;
}

.whoWeAreMain img {
  margin-top: 30px;
  width: 500px;
  height: 600px;
  object-fit: fill;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 150px;
}

.weAreSocialMain {
  display: flex;
  justify-content: center;
  float: right;
  margin-right: 10px;
  align-items: center;
  background-color: #17fbd0;
  height: 80px;
  width: 300px;
  border-radius: 40px;
}

.cardContainer{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 200px;
  margin-top: 50px;
}

.processCard{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 220px;
  box-shadow: 2px 2px 7px rgb(168, 168, 168);
  border-radius: 10px;
  padding: 10px;
}
.processCard img {
  width: 50px;
  margin-top: 10px;
}

.processTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

.processDescription {
  font-size: 15px;
  text-align: left;
}

.YourApplicationProcessTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17fbd0;
  height: 80px;
  width: 550px; 
  border-radius: 40px;
  margin-left: 80px;
  margin-top: 20px;
}

.YourApplicationProcessDescription {
  margin-left: 100px;
}

.joinOurTeamContainer{
  margin-bottom: 70px;
}

.joinOurTeamTitle {
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17fbd0;
  height: 80px;
  width: 350px; 
  border-radius: 40px;
  margin-left: 80px;
  margin-top: 20px;
}

.joinOurTeamImg {
  object-fit: cover;
  height: 500px;
  width: 100%
}

.JoinOurTeamMain {
display: flex;
flex-direction: column;
margin-bottom: 80px;
}

.vacancyDescription {
margin: 45px;
}

.vacancyCard {
  display: flex;
  flex-direction: column;
  background-color: #17fbd135;
  margin: 25px;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}

.JoinOurTeamText {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-left: 100px;
  margin-right: 80px;
}

.joinOurTeamDescription {
  width: 500px;
}

.locationLevel {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.vacancyCard img {
  height: 25px;
}

.vacancyCard p {
  margin: 0;
}

.vacancyCard button {
  background-color: #17fbd0;
  height: 50px;
  padding: 10px 30px 10px 30px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
}

.questionsContainer {
  height: 300px;
  background-color: #17fbd135;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px;
  padding-left: 150px;
}

.questionsImage img {
  height: 250px;
  border-radius: 20px;
}

.questionsMain h2 {
font-size: 40px;
font-weight: 100;
margin: 0;
}

.questionsMain p {
  font-size: 16px;
}

.questionsBottom p {
  margin: 0;
}

.contactMedia {
  text-decoration: none;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  color: black;
}

.contactMedia img {
  height: 20px;
}
